# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata

# RStudio files
.Rproj.user/
*.Rproj

# OSX
.DS_Store

# Don't track the data files
*.zip
household_power_consumption.txt
.Rproj.user
